
// UX Colors
$ux-danger: #FF4500; // Red-Orange
$ux-warning: #F6C737; // Orange-Yellow
$ux-success-active: #52C74D; // Green-Blue
$ux-success-inactive: #5E7A74; // Greyish-Green
$ux-info: #52C74D; // Green-Blue

// UI Colors
$ui-fisher-blue: #4F8286; // Primary background color
$ui-paparazzi-purple-1: #943CA6; // Bold accent color
$ui-paparazzi-purple-2: #8f5898; // Secondary accent color
$ui-glossy-taupe: #D3BBA4; // Glossy light brown for text
$ui-glossy-pink: #915F6D; // Soft pinkish-white for dark text


// Global Colors
$global-black: #000;
$global-white: #fff;