
@mixin consistent-padding-hover($hover-bg-color: #007bff, $hover-color: white) {
    // Base styles for dropdown links
    color: black;
    padding: 15px 20px; // Consistent padding
    text-decoration: none;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; // Smooth transitions

    // Hover effect
    &:hover {
        background-color: $hover-bg-color; // Change background on hover
        color: $hover-color; // Change text color on hover
    }
}

@mixin transform-hover($hover-bg-color: #007bff, $hover-color: white) {
    // Base styles for dropdown links
    color: black;
    padding: 10px 20px; // Consistent padding
    text-decoration: none;
    display: block;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease; // Smooth transitions

    // Hover effect
    &:hover {
        transform: scaleY(1.1); // Scale effect
        background-color: $hover-bg-color; // Change background on hover
        color: $hover-color; // Change text color on hover
    }
}



@mixin jitter-fix {
    // Apply jitter-fix
    @include transform-hover();
    @include consistent-padding-hover();
}